<footer class="page-footer font-small pt-4 site-footer">
  <!-- Footer Links -->
  <div class="container text-center px-5">
    <!-- Grid row -->
    <div class="row justify-content-around">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1" id="first">
        <!-- First Div -->
        <ul class="text-uppercase mb-4 list-unstyled">
          <li><a href="/"><i class="fas fa-home"></i> home</a></li>
          <li><a href="/about"><i class="fas fa-users"></i> about us</a></li>
          <li> <a href="/categories"><i class="fas fa-cannabis"></i> categories</a></li>
          <li><a href="/contact"><i class="fas fa-phone"></i> contact us</a></li>
        </ul>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none line">
      <!-- Grid column -->
      <div class="col-md-6 col-lg-6 mx-auto my-md-4 my-0 mt-4 mb-1" id="second">
        <h5 class="text-white text-center" style="font-family: 'Pacifico', cursive; font-size: 48px;">The Photopreneur</h5>
        <h6 class="text-white text-center pt-3"style="font-family: 'Arvo', serif;">Relive Your Memories With Us!</h6>
        <!-- Links -->
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none line">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1" id="fourth">

        <!-- Social buttons -->
        <h5 id="follow" class="text-uppercase mb-4 tex-center"><i class="fab fa-canadian-maple-leaf"></i> Follow Us</h5>
        <ul style="display: inline;">
          <li style="display:inline;" class="mr-2"><a class="text-white" target="_blank" href="https://www.facebook.com/The-Photopreneur-414444369119861" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i style="font-size: 32px;" class="fab fa-facebook-f pr-1"></i></a></li>
          <li style="display:inline;" class="mx-2"><a class="text-white" target="_blank" href="https://www.instagram.com/the.photopreneur" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i style="font-size: 32px;" class="fab fa-instagram pr-1"></i></a></li>
          <li style="display:inline;" class="mx-2"><a class="text-white" href="mailto:photopreneur.horizon@gmail.com" data-toggle="tooltip" data-placement="bottom" title="Mail"><i style="font-size: 32px;" class="fas fa-envelope pr-1"></i></a></li>
        </ul>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->
  <hr class="clearfix w-100 d-md-none line">

  <!-- Copyright -->
  <div id="bottomMost" class="footer-copyright text-center py-3 text-white">
      <a class="url" href="/termsOfUse">Terms Of Use</a> ©
      <script>document.write(new Date().getFullYear())
      </script> Copyright:
      <a class="url" href="http://www.photopreneur.co.in"> www.photopreneur.co.in</a>
  </div>
  <!-- Copyright -->

</footer>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
