<footer class="page-footer font-small pt-4 site-footer">
  <!-- Footer Links -->
  <div class="container text-md-left px-5">
    <!-- Grid row -->
    <div class="row justify-content-around">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1" id="first">
        <!-- First Div -->
        <ul class="font-weight-bold text-uppercase mb-4 list-unstyled">
          <li><a href="#"><i class="fas fa-home"></i> home</a></li>
          <li><a href="#"><i class="fas fa-users"></i> about us</a></li>
          <li><a href="#"><i class="fas fa-phone"></i> contact us</a></li>
        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none line">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1" id="second">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mb-4">categories</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!"><i class="fas fa-angle-double-right"></i> Food</a>
            </li>
            <li>
              <a href="#!"><i class="fas fa-angle-double-right"></i> People</a>
            </li>
            <li>
              <a href="#!"><i class="fas fa-angle-double-right"></i> Random</a>
            </li>
            <li>
              <a href="#!"><i class="fas fa-angle-double-right"></i> Architectural</a>
            </li>
            <li>
              <a href="#!"><i class="fas fa-angle-double-right"></i> Dawn & Dusk</a>
            </li>
            <li>
              <a href="#!"><i class="fas fa-angle-double-right"></i> Flora & Fauna</a>
              <li>
              </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none line">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1" id="third">

              <!-- Articles details -->
              <h5 class="font-weight-bold text-uppercase mb-4">articles</h5>

              <ul class="list-unstyled">
                <li>
                  <a href="#!"><i class="fas fa-angle-double-right"></i> Food</a>
                </li>
                <li>
                  <a href="#!"><i class="fas fa-angle-double-right"></i> People</a>
                </li>
                <li>
                  <a href="#!"><i class="fas fa-angle-double-right"></i> Random</a>
                </li>
                <li>
                  <a href="#!"><i class="fas fa-angle-double-right"></i> Architectural</a>
                </li>
                <li>
                  <a href="#!"><i class="fas fa-angle-double-right"></i> Dawn & Dusk</a>
                </li>
                <li>
                  <a href="#!"><i class="fas fa-angle-double-right"></i> Flora & Fauna</a>
                  <li>
                  </ul>
                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none line">

                <!-- Grid column -->
                <div class="col-md-3 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1" id="fourth">

                  <!-- Social buttons -->
                  <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>
                  <div class="social">
                    <div class="pb-2">
                      <a href="https://www.facebook.com/The-Photopreneur-414444369119861" class="btn btn-block btn-fb" role="button"><i class="fab fa-facebook-f pr-1"></i> Facebook</a>
                    </div>
                    <div class="pb-2">
                      <a href="https://www.instagram.com/photopreneur_horizon" class="btn btn-block btn-ins" role="button"><i class="fab fa-instagram pr-1"></i> Instagram</a>
                    </div>
                    <div class="pb-2">
                      <a href="mailto:photopreneur.horizon@gmail.com" class="btn btn-block btn-email" role="button"><i class="fas fa-envelope pr-1"></i> Gmail</a>
                    </div>
                  </div>
                </div>
                <!-- Grid column -->

              </div>
              <!-- Grid row -->

            </div>
            <!-- Footer Links -->

            <!-- Copyright -->
            <div id="bottomMost" class="footer-copyright text-center py-3">© <script>document.write(new Date().getFullYear())</script> Copyright:
              <a href="https://mdbootstrap.com/education/bootstrap/"> www.photopreneur.co.in</a>
            </div>
            <!-- Copyright -->

          </footer>
          <script type="text/javascript" src="/js/carousel.js"></script>
          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        </body>
      </html>
