<% include partials/header %>
<link rel="stylesheet" href="/stylesheets/about.css">

<div class="container pb-3">
    <div class="d-flex justify-content-center py-4 text-white">
        <h2><i>"Who Are We?"</i></h2>
    </div>
<<<<<<< HEAD
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <img class="img-fluid" src="images/about/AboutAkanksha.jpg" alt="">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-square btn-fb"><a href="https://www.facebook.com/akanksha.arun.98" target="_blank"><i class="fab fa-facebook-f pr-1"></i>Facebook</a></button>
              <button type="button" class="btn btn-square btn-fb"><a href="https://www.facebook.com/akanksha.arun.98" target="_blank"><i class="fab fa-facebook-f pr-1"></i>Facebook</a></button>
              <button type="button" class="btn btn-square btn-fb"><a href="https://www.facebook.com/akanksha.arun.98" target="_blank"><i class="fab fa-facebook-f pr-1"></i>Facebook</a></button>
              <!-- <a href="https://www.instagram.com/libertad.me_gusta" target="_blank">  <button type="button" class="btn btn-square btn-ins"><i class="fab fa-instagram pr-1"></i></button></a> -->
              <!-- <a href="mailto:akanksha.arun26@gmail.com" target="_blank">  <button type="button" class="btn btn-square btn-email"><i class="fas fa-envelope pr-1"></i></button></a> -->
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <p class="text-center p-2"><i>Ye to misery wisdom plenty polite to as. Prepared interest proposal it he exercise. My wishing an in attempt ferrars. Visited eat you why service looking engaged. At place no walls hopes rooms fully in. Roof hope shy tore leaf joy paid boy. Noisier out brought entered detract because sitting sir. Fat put occasion rendered off humanity</i></p>
=======

    <div class="row pt-4">
        <div class="col-sm-12 col-md-6">
            <img class="img-fluid rounded" src="images/about/AboutAkanksha.jpg" alt="">
            <div class="btn-group" role="group" aria-label="Basic example">
                <a class="btn btn-fb" href="https://www.facebook.com/akanksha.arun.98" role="button" target="_blank"><i class="fab fa-facebook-f pr-1"></i></a>
                <a class="btn btn-ins" href="https://www.instagram.com/libertad.me_gusta" role="button" target="_blank"><i class="fab fa-instagram pr-1"></i></a>
                <a class="btn btn-email" href="mailto:akanksha.arun26@gmail.com" role="button"><i class="fas fa-envelope pr-1"></i></a>
            </div>
        </div>
        <div class="col-sm-12 col-md-6" style="width: 100%;">
            <h4 class="text-white text-center pt-2">Everything about Akanksha</h4>
            <p class="text-center text-white font-italic mx-auto my-auto pt-5" style="width: 100%;">Hola a todos!<br>I'm a Software Engineer currently working <br> with Infosys who loves practicing Photography.<br> The other passion that describes me is <br> UI/UX Designing.<br> So here is a mixture of both.<br>Hope you all liked it :)<br>Let's click & code together!</p>
>>>>>>> 89a20db8a02537e618a43a7e2800330876b5e24e
        </div>
    </div>
    <div class="row pt-4">
        <div class="col-sm-12 col-md-6">
            <img class="img-fluid rounded" src="/images/about/GaganAbout.jpg" alt="">
            <div class="btn-group float-left" role="group" aria-label="Basic example">
                <a class="btn btn-fb" href="https://www.facebook.com/gagandeep2828" role="button" target="_blank"><i class="fab fa-facebook-f pr-1"></i></a>
                <a class="btn btn-ins" href="https://www.instagram.com/gagandeep2828" role="button" target="_blank"><i class="fab fa-instagram pr-1"></i></a>
                <a class="btn btn-email" href="mailto:gagandeepsingh1410@gmail.com" role="button"><i class="fas fa-envelope pr-1"></i></a>
            </div>
        </div>
        <div class="col-sm-12 col-md-6" style="width: 100%;">
            <h4 class="text-white text-center pt-2">Everything about Gagan</h4>
            <p class="text-center text-white font-italic mx-auto my-auto pt-3" style="width: 100%;">hi</p>
        </div>
    </div>
</div>

<% include partials/footer %>
