<% include partials/header %>
<link rel="stylesheet" href="/stylesheets/about.css">

<div class="container">
    <div class="d-flex justify-content-center py-4 text-white">
        <h2><i>"Who Are We?"</i></h2>
    </div>
    <div class="d-flex flex-row pt-4 justify-content-around">
        <div class="col col-6 px-0 py-0 ">
            <img class="img-fluid" src="images/about/AboutAkanksha.jpg" alt="">
            <div class="btn-group" role="group" aria-label="Basic example">
              <a href="https://www.facebook.com/akanksha.arun.98" target="_blank"><button type="button" class="btn btn-square btn-fb"><i class="fab fa-facebook-f pr-1"></i></button></a>
              <a href="https://www.instagram.com/libertad.me_gusta" target="_blank">  <button type="button" class="btn btn-square btn-ins"><i class="fab fa-instagram pr-1"></i></button></a>
              <a href="mailto:akanksha.arun26@gmail.com" target="_blank">  <button type="button" class="btn btn-square btn-email"><i class="fas fa-envelope pr-1"></i></button></a>
            </div>
        </div>
        <div class="col col-6 pr-0 mx-auto my-auto" style="width: 100%;">
            <p class="text-center text-white font-italic mx-auto my-auto" style="width: 100%;">Hola a todos!<br>I'm a Software Engineer currently working with <br> Infosys who loves practicing Photography.<br> The other passion that describes me is <br> UI/UX Designing.<br> So here is a mixture of both.<br>Hope you all liked it :)<br>Let's click & code together!</p>
        </div>
    </div>
    <div class="d-flex flex-row py-3">
        <div class="col col-6 pl-0 mx-auto my-auto" style="width: 100%;">
            <p class="text-center m-0 text-white font-italic mx-auto my-auto" style="width: 100%;">First of all </p>
        </div>
        <div class="col col-6 px-0 py-0">
            <img class="img-fluid" src="/images/about/GaganAbout.jpg" alt="">
            <div class="btn-group float-right" role="group" aria-label="Basic example">
                <a href="https://www.facebook.com/gagandeep2828" target="_blank"><button type="button" class="btn btn-square btn-fb"><i class="fab fa-facebook-f pr-1"></i></button></a>
                <a href="https://www.instagram.com/gagandeep2828" target="_blank">  <button type="button" class="btn btn-square btn-ins"><i class="fab fa-instagram pr-1"></i></button></a>
                <a href="mailto:gagandeepsingh1410@gmail.com" target="_blank">  <button type="button" class="btn btn-square btn-email"><i class="fas fa-envelope pr-1"></i></button></a>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>
