<% include partials/header %>
<link rel="stylesheet" href="/stylesheets/about.css">

<div class="container pb-3">
    <div class="d-flex justify-content-center py-4 text-white">
        <h2><i>"Who Are We?"</i></h2>
    </div>

    <div class="row pt-4">
        <div class="col-sm-12 col-md-6">
            <img class="img-fluid rounded" src="images/about/AboutAkanksha.jpg" alt="">
            <div class="btn-group" role="group" aria-label="Basic example">
                <a class="btn btn-fb" href="https://www.facebook.com/akanksha.arun.98" role="button" target="_blank"><i class="fab fa-facebook-f pr-1"></i></a>
                <a class="btn btn-ins" href="https://www.instagram.com/libertad.me_gusta" role="button" target="_blank"><i class="fab fa-instagram pr-1"></i></a>
                <a class="btn btn-email" href="mailto:akanksha.arun26@gmail.com" role="button"><i class="fas fa-envelope pr-1"></i></a>
            </div>
        </div>
        <div class="col-sm-12 col-md-6" style="width: 100%;">
            <h4 class="text-white text-center pt-2">Everything about Akanksha</h4>
            <p class="text-center text-white font-italic mx-auto my-auto pt-5" style="width: 100%;">Hola a todos!<br>I'm a Software Engineer currently working <br> with Infosys who loves practicing Photography.<br> The other passion that describes me is <br> UI/UX Designing.<br> So here is a mixture of both.<br>Hope you all liked it :)<br>Let's click & code together!</p>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col-sm-12 col-md-6">
            <img class="img-fluid rounded" src="/images/about/GaganAbout.jpg" alt="">
            <div class="btn-group float-left" role="group" aria-label="Basic example">
                <a class="btn btn-fb" href="https://www.facebook.com/gagandeep2828" role="button" target="_blank"><i class="fab fa-facebook-f pr-1"></i></a>
                <a class="btn btn-ins" href="https://www.instagram.com/gagandeep2828" role="button" target="_blank"><i class="fab fa-instagram pr-1"></i></a>
                <a class="btn btn-email" href="mailto:gagandeepsingh1410@gmail.com" role="button"><i class="fas fa-envelope pr-1"></i></a>
            </div>
        </div>
        <div class="col-sm-12 col-md-6" style="width: 100%;">
            <h4 class="text-white text-center pt-2">Everything about Gagan</h4>
            <p class="text-center text-white font-italic mx-auto my-auto pt-3" style="width: 100%;">I am Software Engg at Infosys LTD (May 2019), with a passion of <strong> Writing Clean Code</strong>. This is My 2nd poject (first one was Solo). Along with writing code, I like playing badminton, which is my so called 2nd hobby. If you like my work feel free to contact me, maybe we can write even better code. </p>
        </div>
    </div>
</div>

<% include partials/footer %>
