<% include partials/header %>

<div class="container">
    <div class="d-flex justify-content-center py-4">
        <h2><i>"Who Are We?"</i></h2>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <img class="img-fluid" src="images/about/AboutAkanksha.jpg" alt="">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-square btn-fb"><a href="https://www.facebook.com/akanksha.arun.98" target="_blank"><i class="fab fa-facebook-f pr-1"></i>Facebook</a></button>
              <button type="button" class="btn btn-square btn-fb"><a href="https://www.facebook.com/akanksha.arun.98" target="_blank"><i class="fab fa-facebook-f pr-1"></i>Facebook</a></button>
              <button type="button" class="btn btn-square btn-fb"><a href="https://www.facebook.com/akanksha.arun.98" target="_blank"><i class="fab fa-facebook-f pr-1"></i>Facebook</a></button>
              <!-- <a href="https://www.instagram.com/libertad.me_gusta" target="_blank">  <button type="button" class="btn btn-square btn-ins"><i class="fab fa-instagram pr-1"></i></button></a> -->
              <!-- <a href="mailto:akanksha.arun26@gmail.com" target="_blank">  <button type="button" class="btn btn-square btn-email"><i class="fas fa-envelope pr-1"></i></button></a> -->
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <p class="text-center p-2"><i>Ye to misery wisdom plenty polite to as. Prepared interest proposal it he exercise. My wishing an in attempt ferrars. Visited eat you why service looking engaged. At place no walls hopes rooms fully in. Roof hope shy tore leaf joy paid boy. Noisier out brought entered detract because sitting sir. Fat put occasion rendered off humanity</i></p>
        </div>
    </div>
    <div class="d-flex flex-row justify-content-around py-5">
        <div class="col col-6">
            <p class="text-center p-2"><i>First of all </i></p>
        </div>
        <div class="col col-6 px-0 py-0">
            <img class="img-fluid" src="/images/about/GaganAbout.jpg" alt="">
            <div class="btn-group" role="group" aria-label="Basic example">
                <a href="https://www.facebook.com/gagandeep2828" target="_blank"><button type="button" class="btn btn-square btn-fb"><i class="fab fa-facebook-f pr-1"></i></button></a>
                <a href="https://www.instagram.com/gagandeep2828" target="_blank">  <button type="button" class="btn btn-square btn-ins"><i class="fab fa-instagram pr-1"></i></button></a>
                <a href="mailto:gagandeepsingh1410@gmail.com" target="_blank">  <button type="button" class="btn btn-square btn-email"><i class="fas fa-envelope pr-1"></i></button></a>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>
