<% include partials/header %>
<link rel="stylesheet" href="/stylesheets/index.css">

<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to The Photopreneur! </h1>
    <p class="lead text-white pt-3">Tired of <strong>Low-Resolution & Water-Marked</strong> images?</p>
    <p class="lead text-white p-0">Here we come to your rescue!</p>
    <hr class="my-3">
    <p class="text-white">Sign Up and download images for free</p>
    <a class="btn my-btn mb-4" href="/contact" role="button">Contact Us <i class="fas fa-caret-right"></i></a>
    <a class="btn my-btn mb-4" href="/register" role="button">Sign Up <i class="fas fa-caret-right"></i></a>
</div>

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block img-fluid" src=".\images\carousel\img_beach_26.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block img-fluid" src=".\images\carousel\img_flora94.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block img-fluid" src=".\images\carousel\img_food_37.jpg" alt="Third slide">
        </div>
        <div class="carousel-item">
            <img class="d-block img-fluid" src=".\images\carousel\img_golden_54.JPG" alt="Third slide">
        </div>
        <div class="carousel-item">
            <img class="d-block img-fluid" src=".\images\carousel\img_random_8.jpg" alt="Third slide">
        </div>
        <div class="carousel-item">
            <img class="d-block img-fluid" src=".\images\carousel\img_structures_19.jpg" alt="Third slide">
        </div>
        <div class="carousel-item">
            <img class="d-block img-fluid" src=".\images\carousel\img_travel_21.jpg" alt="Third slide">
        </div>
        <div class="carousel-item">
            <img class="d-block img-fluid" src=".\images\carousel\img_lights_11.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block img-fluid" src=".\images\carousel\img_people_41.jpg" alt="Second slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="container py-5">
    <div class="card-deck">
        <div class="card">
            <a href="/categories" class="btn btn-fix text-dark">
                <img src=".\images\Cards\Nature.jpg" class="card-img-top card__height rounded-0" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center font-weight-bold">Nature</h5>
                    <p class="card-text">Nature is considered to be God's territory. Let's stop for a moment, dive deep into nature & adore its beauty.</p>
                </div>
            </a>
        </div>
        <div class="card">
            <a href="/categories" class="btn btn-fix text-dark">
                <img src=".\images\Cards\Food.jpg" class="card-img-top card__height rounded-0" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center font-weight-bold">Food</h5>
                    <p class="card-text">There is no sincere love than the love for food. Be on a seafood diet. See food and eat it. Food Lover Always ♥</p>
                </div>
            </div>
        </a>
        <div class="card">
            <a href="/categories" class="btn btn-fix text-dark">
                <img src=".\images\Cards\Lights.jpg" class="card-img-top card__height rounded-0" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center font-weight-bold">Lights</h5>
                    <p class="card-text">Let the radiant lights enter us through our wounds and change us to be the guiding light for others.</p>
                </div>
            </div>
        </a>
    </div>
    <div class="card-deck py-3">
        <div class="card">
            <a href="/categories" class="btn btn-fix text-dark">
                <img src=".\images\Cards\People.jpg" class="card-img-top card__height rounded-0" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center font-weight-bold">People</h5>
                    <p class="card-text">Be thankful to the bunch of people who walk into our lives. Because the right ones teach us better & the wrong ones teach us the best.</p>
                </div>
            </a>
        </div>
        <div class="card">
            <a href="/categories" class="btn btn-fix text-dark">
                <img src=".\images\Cards\GoldenHour.jpg" class="card-img-top card__height rounded-0" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center font-weight-bold">Golden Hour</h5>
                    <p class="card-text">There is a sunrise and a sunset everyday, and they are absolutely free. Enjoy the golden hours each day ♥</p>
                </div>
            </a>
        </div>
        <div class="card">
            <a href="/categories" class="btn btn-fix text-dark">
                <img src=".\images\Cards\Structures.jpeg" class="card-img-top card__height rounded-0" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center font-weight-bold">Structures</h5>
                    <p class="card-text">The beauty of a building might lure us, but be careful for its foundation is the one to stand the test of time.</p>
                </div>
            </a>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <a href="/categories" class="btn btn-fix text-dark">
                <img src=".\images\Cards\Beach.jpg" class="card-img-top card__height rounded-0" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center font-weight-bold">Beaches</h5>
                    <p class="card-text">Beaches are God's poetry. That's the reason why nothing soothes our souls better than a walk on the beach.</p>
                </div>
            </a>
        </div>
        <div class="card">
            <a href="/categories" class="btn btn-fix text-dark">
                <img src=".\images\Cards\Travel.jpg" class="card-img-top card__height rounded-0" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center font-weight-bold">Travel</h5>
                    <p class="card-text">Come let's be the adventures and start living our bucket lists! Wanderlovers Forever ♥</p>
                </div>
            </a>
        </div>
        <div class="card">
            <a href="/categories" class="btn btn-fix text-dark">
                <img src=".\images\Cards\Random.jpg" class="card-img-top card__height rounded-0" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center font-weight-bold">Random</h5>
                    <p class="card-text">Embracing our randomness can makes us a masterpiece of a kind. Hence, we should expose ourself to as much randomness as possible.</p>
                </div>
            </a>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('.card').on('click',function (event){
        window.location.replace("/http://www.photopreneur.co.in/categories");
    });
</script>

<% include partials/footer %>
