<% include partials/header %>

<div class="p-3">
</div>
<div class="carousel py-5">
  <button class="carousel__button carousel__button--left hidden">
    <img src="/images/home/left.png" alt=""> <!-- add image -->
  </button>
  <div class="carousel__track-container">
    <ul class="carousel__track">
      <li class="carousel__slide current-slide">
        <img src="/images/carousel/DSC_0148.JPG" alt="" class="carousel__image"><!-- add image -->
      </li>
      <li class="carousel__slide">
        <img src="/images/carousel/DSC_0237.JPG" alt="" class="carousel__image"><!-- add image -->
      </li>
      <li class="carousel__slide">
        <img src="/images/carousel/DSC_0570.JPG" alt="" class="carousel__image"><!-- add image -->
      </li>
      <li class="carousel__slide">
        <img src="/images/carousel/DSC_1009.JPG" alt="" class="carousel__image"><!-- add image -->
      </li>
    </ul>
  </div>
  <button class="carousel__button carousel__button--right">
    <img src="/images/home/right.png" alt=""> <!-- add image -->
  </button>
  <div class="carousel__nav">
    <button class="carousel__indicator current-slide"></button>
    <button class="carousel__indicator"></button>
    <button class="carousel__indicator"></button>
    <button class="carousel__indicator"></button>
  </div>
</div>

<div class="container py-5">
  <div class="card-deck">
    <div class="card">
      <img src="/images/home/FloraH.jpg" class="card-img-top card__height" alt="...">
      <div class="card-body text-black">
        <h5 class="card-title text-center">Flora & Fauna</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="/images/home/FoodH.jpg" class="card-img-top card__height" alt="...">
      <div class="card-body text-black">
        <h5 class="card-title text-center">Food</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="/images/home/RandomH.jpg" class="card-img-top card__height" alt="...">
      <div class="card-body text-black">
        <h5 class="card-title text-center">Random</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
  <div class="card-deck py-3">
    <div class="card">
      <img src="/images/home/PeopleH.JPG" class="card-img-top" alt="...">
      <div class="card-body text-black">
        <h5 class="card-title text-center">People</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="/images/home/ArchitectureH.JPG" class="card-img-top" alt="...">
      <div class="card-body text-black">
        <h5 class="card-title text-center">Architectural</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="/images/home/GoldenH.JPG" class="card-img-top" alt="...">
      <div class="card-body text-black">
        <h5 class="card-title text-center">Golden Hour</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
<!-- Type 2-->
<hr class="hr">
<!-- Redo this
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-sm-6">
      <div class="card text-black card-hover">
        <img src="../public/images/image1.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text">Last updated 3 mins ago</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="card text-black card-hover">
        <img src="../public/images/image2.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text">Last updated 3 mins ago</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="card text-black card-hover">
        <img src="../public/images/image3.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text">Last updated 3 mins ago</p>
        </div>
      </div>
    </div>
  </div>
</div>
-->
<% include partials/footer %>
