<% include partials/header %>
<link rel="stylesheet" href="/stylesheets/login.css">


<div class="container">
    <% if(logFlag){ %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Please Login!</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
<% } %>
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
            <form class="form-signin" action="/login" method="post">
              <div class="form-label-group">
                <input type="text" id="inputUserame" class="form-control" name="username" placeholder="Username" required autofocus>
                <label for="inputUserame">Username</label>
              </div>

              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
                <label for="inputPassword">Password</label>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign In</button>
              <a id="forgotBtn" class="d-block text-center mt-2 small text-uppercase" href="/forgot">Forgot Password?</a>

              <!-- <hr class="my-4">
              <a href="/auth/google"><button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button></a>
              <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% include partials/footer %>
