<% include partials/header %>
<link rel="stylesheet" href="/stylesheets/terms.css">

<main class="container">
  <article class="" >
    <h1 class="py-4">Our Free Photo License</h1>
      <div class="">
        <p>This is everything you need to know about what you can and can’t do with The Photopreneur's pictures:</p>
        <h2>What you CAN do with these pictures</h2>
        <ul>
          <li>You may use The Photopreneur's pictures as you want for both personal and commercial projects. You can adapt and modify the images and get paid for work that incorporates the pictures.</li>
          <li>This includes advertising campaigns, adding your logo or text to an image, printed in any size print runs (e.g., book covers, magazines, posters, etc.), on your website, blog, or other digital mediums, and on merchandise as long as the picture itself is not the merchandise. </li>
        </ul>
        <h2>What you CAN’T do with these images</h2>
        <ul>
          <li>You can’t redistribute The Photopreneur's pictures, including on other stock (paid or free) sites/apps, or give them to other people to use. You can’t claim the photos as your own or imply that Photopreneur or any of the models, brands, or anything in the pictures has endorsed you or your product. Photopreneur pictures can’t be used in pornographic, criminal, defamatory, hateful, degrading, unlawful, immoral purposes or to promote or sell illegal drugs, drug use, pornography, weapons, or prostitution.</li>
          <li>It’s possible that some pictures may be subject to other intellectual property rights, such as trademark, publicity, or privacy rights. Photopreneur does not represent or make any warranties that it owns or licenses any of these rights or can it grant them.</li>
          <li>If you have any questions, please do not hesitate to contact us at <strong>photopreneur.horizon@gmail.com</strong></li>
        </ul>
      </div>
    </article>
  </main>

  <% include partials/footer %>
