body{
    font-size: 14px;
    background-image: linear-gradient(to bottom, #061161, #4b0052, #68003c, #760023, #780206);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Arvo', serif;
}



.btn.btn-square {
  border-radius: 0;
}

.container .d-flex h2{
    font-family: 'Pacifico', cursive;
}

.container .d-flex .col p{
    width: 100%;
    font-family: 'Arvo', serif;
    /* justify-content: center; */
}



@media only screen and (min-width: 1200px) {
    p {
        font-size:120%;
        padding: 20%;
        margin: auto;
    }
}

@media only screen and (max-width: 900px) {
    p {
        font-size:90%;
        padding: 10%;
        margin: auto;
    }
}

@media only screen and (max-width: 768px) {
    p {
        font-size:80%;
        padding: 10%;
        margin: auto;
    }
}

@media only screen and (max-width: 600px) {
    p {
        font-size:70%;
        padding: 10%;
        margin: auto;
    }
}
