.carousel {
  position: relative;
  height: 600px;
  width: 80%;
  margin: 0 auto;
}

.carousel__track-container {
  position: relative;
  background: #592;
  height: 100%;
  overflow: hidden;
}

.carousel__track {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: transform ease-in 250ms;
}

.carousel__slide {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}

.carousel__button i {
  font-size: 2em;
}

.carousel__button--left {
  left: -40px;
}

.carousel__button--right {
  right: -40px;
}

.carousel__nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.carousel__indicator {
  width: 15px;
  height: 15px;
  border: 0;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
  margin: 0 12px;
  cursor: pointer;
}

.carousel__indicator.current-slide {
  background: rgba(0, 0, 0, 0.75);
}

.hidden {
  display: none;
}
