img{
    width:100%;
    height: 650px;
}


.card .content{
    position: centered;
    width: 400px;
    height: 600px;
}

.card .card-img-overlay{
    width: 100%;
    height: 100%;
    padding-left: 100px;
}

.card{
    border: no-border;
    border-radius: 0px;
}


@media only screen and (min-width: 1200px) {
    .card .card-img-overlay {
        font-size:120%;
    }
}

@media only screen and (max-width: 1200px),(min-width: 1200px) {
    .card .card-img-overlay {
        padding-left: 100px;
    }
}

@media only screen and (max-width: 992px) {
    .card .card-img-overlay {
        padding-left: 60px;
    }
}

@media only screen and (max-width: 768px) {
    .card .card-img-overlay {
        padding-left: 40px;
    }
}

@media only screen and (max-width: 600px) {
    .card .card-img-overlay {
        padding-left: 20px;
    }
}
