.site-footer {
    background-image: linear-gradient(to bottom, #000000, #1d0012, #290125, #2a0440, #061161);
}

#first ul li a,
h5 a,
#follow{
    font-size: 20px;
    text-decoration:none;
    color: white;
}

#first ul li a:hover,
#second ul li a:hover,
#third ul li a:hover,
h5 a:hover {
    text-decoration:none;
    color: #FFEFDB;
}

#second ul li a,
#third ul li a {
    text-decoration:none;
    color: #67C8FF;
}

#bottomMost {
    background-color: Transparent;
}

#url{
    color: #B0E2FF;
}

#first, #second, #third, #fourth {
    padding: 0px 0px 0px 0px;
}

.line {
    margin: 0px;
    background-color: #87CEFF;
}

.social {
    width: 120px;
}

.btn-fb {
    background-color: #3b5998;
    color: white;
}

.btn-ins {
    background-color: #FD1D1D;
    color: white;
}

.btn-email {
    background-color: #c71610;
    color: white;
}

#fourth .social .pb-2 a:hover {
    color: white;
}
