
.jumbotron{
background-image: linear-gradient(to top, #780206, #5d0512, #410a14, #250a10, #000000);
    padding-bottom: 0px;
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px;
}


.my-btn {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    border:1px solid white;
    color: white;
}

.my-btn:hover{
    background-color: black;
    color: white;
}
.display-4{
    color: white;
    font-family: 'Pacifico', cursive;
}

.card-img-top {
    width: 100%;
    height: 10vw;
    object-fit: cover;
}
.card__height {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}
@media only screen and (max-width: 600px) {
  .card-img-top{
    height : 300px;
}
}
body {
    /* background: -webkit-linear-gradient(to bottom, #061161, #000000);
    background: linear-gradient(to bottom, #061161, #000000);  */
background-image: linear-gradient(to bottom, #000000, #250a10, #410a14, #5d0512, #780206);  background-repeat: no-repeat;
  background-size: cover;
font-family: 'Playfair Display', serif;
  font-size: 14px;
}


.card{
    border-radius: 0px;
    cursor: pointer;
    background: white;
    color: black;
}

.btn-fix {
    padding: 0;
    border: none;
    white-space: normal;
  }

@media only screen and (min-width: 1200px) {
    p {
        font-size:100%;
    }
}

@media only screen and (max-width: 900px) {
    p {
        font-size:90%;
    }
}

@media only screen and (max-width: 768px) {
    p {
        font-size:80%;
    }
}

@media only screen and (max-width: 600px) {
    p {
        font-size:70%;
    }
}
