body {
    background-image: linear-gradient(to top, #780206, #5d0512, #410a14, #250a10, #000000);
  /* background: -webkit-linear-gradient(to bottom, #061161, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to bottom, #061161, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ */ */
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-family: 'Arvo', serif;
  color: white;
}

hr{
    color: white;
    border-color: white;
    background-color: white;
}

.opaque{
    background-color: rgba(0,0,0,0.5);
}
